<%- include('../template/top', {contentTitle:"Publicações", pageSelected:{publicacoes:"active"}});%>

<div class="content">
    <div class="container-fluid">
        
        <div class="row">
            
            <div class="col-lg-12 col-md-12">
                <%- include('../template/mensagem', {mensagem: mensagem});%>
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Tabela de publicações</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <a type="button" class="btn btn-primary" href="/admin/publicacoes/cadastrar">Cadastrar publicação</a>
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>ID</th>
                                <th>Título</th>
                                <th>Autor</th>
                                <th>Tipo</th>
                                <th>Arquivo</th>
                                <th>Ações</th>
                            </thead>
                            <tbody>
                                <%for(var i = 0; i<publicacoes.length;i++){%>
                                <tr>
                                    <td><%=publicacoes[i].id%></td>
                                    <td><%=publicacoes[i].titulo%></td>
                                    <td><%=publicacoes[i].autor%></td>
                                    <td><%=publicacoes[i].tipo_publicacao%></td>
                                    <td><a href="/<%=downloadPath+publicacoes[i].arquivo%>"><i class="material-icons">insert_drive_file</i></a></td>
                                    <td class="td-actions text-right">
                                        <button class="btn btn-primary btn-simple" title="Detalhes" data-toggle="modal" data-target="#modalPub<%=publicacoes[i].id%>"><i class="material-icons">view_headline</i></button>
                                        <a class="btn btn-primary btn-simple" href="/admin/publicacoes/alterar/<%=publicacoes[i].id%>" title="Alterar"><i class="material-icons">create</i></a>
                                        <form action="/admin/publicacoes/deletar" method="POST">
                                            <input type="hidden" name="id" value="<%=publicacoes[i].id%>">
                                            <button class="btn btn-danger btn-simple" title="Remover"><i class="material-icons">delete_forever</i></button>
                                        </form>
                                    </td>
                                </tr> 
                                <%}%>
                            </tbody>
                        </table>
                        <nav class="text-center" aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%=paginacao.currentPage==1?1:paginacao.currentPage-1%>" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <%for(var i = 1; i<=paginacao.pageCount;i++){%>
                                <li class="page-item <%= i==paginacao.currentPage?"active":""%>"><a class="page-link" href="?page=<%=i%>"><%=i%></a></li>
                                <%}%>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%=paginacao.currentPage==paginacao.pageCount?paginacao.currentPage:(++paginacao.currentPage)%>" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <%for(var i = 0; i<publicacoes.length;i++){%>
                            <%- include('./modal.ejs', { publicacao: publicacoes[i] });%>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../template/bottom');%>