<%- include('../template/top', {contentTitle:"Usuários", pageSelected:{usuarios:"active"}});%>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="row"> <div class="col-md-12">
                <!-- TODO -> COLOCAR UMA MENSAGEM AQUI -->
                <%- include('../template/mensagem', {mensagem: mensagem});%>
                <!-- FIM -->
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title"><%=user.id ? "Alterar senha de":"Cadastrar"%> Usuário</h4>
                        <p class="category">Preencha os dados</p>
                    </div>
                    <div class="card-content">
                        <form action="/admin/usuarios<%=user.id ? '/alterar/':''%>" method="POST">
                            <%if(user.id){%><input name="id" type="hidden" value="<%=user.id%>"><%}%>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Nome de usuário</label>
                                        <input type="text" class="form-control" name="username" value="<%=user.id?user.username:''%>" <%=user.id ? 'disabled':'required'%>>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Senha</label>
                                        <input type="password" class="form-control" name="password" required>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right"><%=user.id ? "Alterar":"Cadastrar"%></button>
                            <a href="/admin/usuarios" class="btn btn-danger pull-right">Voltar</a>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../template/bottom');%>