<%- include('../template/top', {contentTitle:"Usuários", pageSelected:{usuarios:"active"}});%>

<div class="content">
    <div class="container-fluid">
        
        <div class="row">
            
            <div class="col-lg-12 col-md-12">
                <%- include('../template/mensagem', {mensagem: mensagem});%>
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Tabela de usuários</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <a type="button" class="btn btn-primary" href="/admin/usuarios/cadastrar">Cadastrar usuário</a>
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>ID</th>
                                <th>Nome de usuário</th>
                                <th>Ações</th>
                            </thead>
                            <tbody>
                                <%for(var i = 0; i<usuarios.length;i++){%>
                                <tr>
                                    <td><%=usuarios[i].id%></td>
                                    <td><%=usuarios[i].username%></td>
                                    <td class="td-actions text-right">
                                        <a class="btn btn-primary btn-simple" href="/admin/usuarios/alterar/<%=usuarios[i].id%>"><i class="material-icons">create</i></a>
                                        <form action="/admin/usuarios/deletar" method="POST">
                                            <input type="hidden" name="id" value="<%=usuarios[i].id%>">
                                            <button class="btn btn-danger btn-simple"><i class="material-icons">delete_forever</i></button>
                                        </form>
                                    </td>
                                </tr> 
                                <%}%>
                            </tbody>
                        </table>
                        <nav class="text-center" aria-label="Page navigation">
                                <ul class="pagination">
                                  <li class="page-item">
                                    <a class="page-link" href="?page=<%=paginacao.currentPage==1?1:paginacao.currentPage-1%>" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                  </li>
                                  <%for(var i = 1; i<=paginacao.pageCount;i++){%>
                                  <li class="page-item <%= i==paginacao.currentPage?"active":""%>"><a class="page-link" href="?page=<%=i%>"><%=i%></a></li>
                                  <%}%>
                                  <li class="page-item">
                                    <a class="page-link" href="?page=<%=paginacao.currentPage==paginacao.pageCount?paginacao.currentPage:(++paginacao.currentPage)%>" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../template/bottom');%>