<div class="modal fade" id="modalPub<%=publicacao.id%>" tabindex="-1" role="dialog" aria-labelledby="modalLabel<%=publicacao.id%>">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="modalLabel<%=publicacao.id%>"><%=publicacao.titulo%></h4>
            </div>
            <div class="modal-body">
                <p><strong>Autor: </strong><%=publicacao.autor%></p>
                <p><strong>Tipo de Publicação: </strong><%=publicacao.tipo_publicacao%></p>
                <p><strong>Arquivo: </strong> <a href="/files/publicacoes/<%=publicacao.arquivo%>" title="Baixar Arquivo">Download</a>
                <p><strong>Curso: </strong><%=publicacao.curso%></p>
                <p><strong>Editora: </strong><%=publicacao.editora%></p>
                <p><strong>Número da edição: </strong><%=publicacao.numero_edicao%></p>
                <p><strong>Idioma: </strong><%=publicacao.idioma%></p>
                <p><strong>País da publicação</strong><%=publicacao.pais_publicacao%></p>
                <p><strong>Ano: </strong><%=publicacao.ano_publicacao%></p>
                <p><strong>Instituição: </strong><%=publicacao.instituicao%></p>
                <p><strong>Sumário</strong><%=publicacao.sumario%></p>
                <p><strong>Palavras-chave: </strong><%=publicacao.palavras_chave%></p>
                <p><strong>Referências</strong><%=publicacao.referencias%></p>
                <p><strong>Resumo/Sinopse: </strong><%=publicacao.resumo_sinopse%></p>
                <p><strong>ISBN/ISSN: </strong><%=publicacao.isbn_issn%></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->